body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-top: 50px;
}

.interface{
    height: 1080px;
    width: 720px;
}

.interface > img {
    height: 100%;
    width: 100%;
}

.controls{
    display: flex;
    flex-direction: column;
    border: 2px solid burlywood
}

.controls > div {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.controls > div > label {
 margin-left: 5px;
}
